:root {
    --body-background: #fafafa;
    --background: rgb(0, 0, 0);
    --background-soft: rgb(61, 61, 61);
    --header-height: 70px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body{
    background: var(--body-background);
}


.brand {
    height: 35px;
}

.flex-grow {
    flex-grow: 1;
}

.cover-gradient {
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: 50%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%), url('../images/home.jpg');
}

.cover {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    user-select: none;
}

.cover > h1 {
    font-size: 4rem;
}

.cover > h3 {
    font-weight: 300;
}

.cover > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bg-dark {
    background-color: var(--background);
}

.preview-image {
    width: 200px;
}

.card-hover{
    transition: box-shadow 0.3s;
}
.card-hover:hover {
    box-shadow: 0px 0px 15px var(--background-soft)
}

.home-bottom {
    border-top: 10px solid var(--background-soft);
    position: relative;
    width: 100%;
    height: calc(50vh - var(--header-height));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.home-bottom > .btn {
    font-size: 2rem;
    border-radius: 10px;
}

.full-height {
    width: 100vw;
    height: calc(100vh - var(--header-height));
}

.card-dark {
    background: var(--background-soft);
}

.brick {
    height: 100%;
    background: url("../images/bg.jpg");
    background-size: 100%;
}

.frame {
    height: 320px;
    width: max-content;
    max-width: 90vw;
    margin: 80px auto auto;
    border: 5px solid #000000;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 0 20px 0 black;
}

.stand {
    width: 250px;
    height: 15px;
    background: #000000;
    border-radius: 0 0 30px 30px;
    color: white;
    text-align: center;
    font-size: 10px;
    margin: 0 auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.fit-content {
    width: fit-content;
}

body{margin-top:20px;}

.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}